

#menu {
  background: linear-gradient(to bottom, #e5dfb1, #907c49); /* bg menu */
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: 'Poppins', sans-serif;
}

/*judul menu*/
#menu h2 {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  color: #6d4c41;
  margin-bottom: 50px;
  position: relative;
}

#menu h2::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background-color: #a1887f;
  margin: 15px auto 0;
  border-radius: 4px;
}

/* Card styling  */
.menu-card {
  background-color: #fffdf9;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

/*styling gambar menu */
.menu-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.menu-card-body {
  padding: 20px;
  text-align: center;
}

.menu-card-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #4e342e;
  margin-bottom: 8px;
}

.menu-card-text {
  font-size: 0.95rem;
  color: #6d4c41;
  margin-bottom: 12px;
}

/*styling harga */
.menu-card-price {
  font-size: 1.1rem;
  font-weight: 600;
  color: orangered;
}
